@import 'mixins';
@import 'settings';


@media screen and (max-width: 1200px) {}

//media

@media screen and (max-width: 1024px) {
    .navigation-wrap .inner-wrap .menu ul li {
        margin: 0 8px;
    }
}

//media
 

@media screen and (max-width: 992px) {

	.navigation-wrap .inner-wrap .menu {
		background: #fff;
		position: absolute;
		@include calc-width('100%', '+', '32px');
		    left: calc(-100% - 48px);
		top: 100%;
		opacity: 0;
		visibility: hidden;

		&.open{
			opacity: 1;
			visibility: visible;
			left: -16px;
		}
	}

	.m-lines {
		display: block;
	}

	.navigation-wrap .inner-wrap .menu ul{
		display: block;
	}

	.navigation-wrap .inner-wrap .menu ul li{
		margin: 8px 16px;
	}

    footer .bottom-wrap {
        display: block;
        max-width: 480px;
        margin: 56px auto 0;
        text-align: center;
    }

    footer .bottom-wrap ul {
        max-width: 100%;
    }
}

//media


@media screen and (max-width: 768px) {
	.welcome_wrap .inner-wrap .text h1,
	.filter_data .inner-wrap .chart_text h1{
		font-size: 28px;
		text-align: center;
	}

	.welcome_wrap .inner-wrap .text p,
	.filter_data .inner-wrap .chart_text p{
    	font-size: 20px;
    	text-align: center;
	}

	.welcome_wrap .inner-wrap .text .btn{
	    display: block;
	    margin: 32px auto 0;
	}

    .filter_data .inner-wrap .checkbox-wrap>div {
        flex: 0 0 50%;
    }

    footer .top-wrap {
        display: block;
        text-align: center;
    }

    footer .top-wrap .logo {
        display: block;
        margin: 0 auto 56px;
    }
}

//media


@media screen and (max-width: 560px) {
    .filter_data .inner-wrap .checkbox-wrap>div {
        flex: 0 0 100%;
    }

    .navigation-wrap .inner-wrap .logo img {
	    width: 150px;
	}
}

//media
